html {
/*    font-family: 'Poiret One', cursive;*/
	font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    background-color: rgb(26, 139, 255);
}

#header{
	font-size: 30px;
	color: white;
}

#main-form{
	background-color: white;
}


/* label color */
.question-label{
	color: rgb(26, 139, 255);
}
.select-wrapper input.select-dropdown {
	border-bottom: 1px solid rgb(26, 139, 255);
}

.select-wrapper span.caret {
	color: rgb(26, 139, 255);
}

.dropdown-content>li>span{
	background-color: white;
	color: rgb(26, 139, 255);
}

.to-valign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#header{
	margin-bottom: 15px;
}

.form-submit-btn{
	background-color: rgb(1,247,54);
	margin-bottom: 15px;
	font-weight: bolder;
	font-size: 22;
}

.form-submit-btn:hover{
	background-color: #00e622;
}

.nav-wrapper{
	background-color: rgb(0,185,230);
}

.timer{
	background-color: #b2ff59;
	height: 15%;
}

.timer i, p{
	margin-left: auto;
	margin-right: auto;
}

.timer p{
	font-size: 2em;
}

.calcInput{
	background-color: white;
	height: 15%;
}
.calcInput p{
	font-size: 2em;
	margin-left: auto;
	margin-right: auto;
}
#icon_view{
	margin-top: 13px;
	height:25px;
}
.calc{
	background-color: #bdbdbd;
	height: 45%;
	font-size: 2em;
}
.question-buttons{
	margin: 40px 20px 40px 150px;
}
#logo2{
	margin-left: 20px;
	margin-top: 2px;
}
.question-area{
	background-color: white;
	height:68%;
	max-height: 68%;
	margin: 0px 50px;
}

.question-area p{
	color: black;
	padding: 5%;
	font-size: 2em;
}

.calc-submit{
	background-color: #b2ff59;
	font-size: 3.5em;
	color: white;
}
.calc-input{
	color: white;
}
.calc-input:hover{
	background-color: #b2ff59;
}

#calculator{
	margin: .5em 0em;
}
p.equation-form{
	font-size: 5em;
	margin-left: auto;
	margin-right: auto;
}

.custom-toast{
	background-color: transparent;
	box-shadow: none;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: auto;
	text-align: center;
	width: 100%;
    height: auto;
    float: center;
    padding: 0 23em;
}
#strikes{
	display: inline-block;
	margin-top: .5em;
}
.align-bottom{
	vertical-align: bottom;
}

/*Styling for the user's row in the leaderboard */
.user_row{
	color: orange;
}