html {
    font-family: 'Poiret One', cursive;
    font-size: 17px;
    background-color: rgb(26, 139, 255);
}

#header{
	font-size: 30px;
	color: white;
}

#main-form{
	background-color: white;
}


/* label color */
.question-label{
	color: rgb(26, 139, 255);
	font-weight: 900;
}
.select-wrapper input.select-dropdown {
	border-bottom: 1px solid rgb(26, 139, 255);
}

.select-wrapper span.caret {
	color: rgb(26, 139, 255);
}

.dropdown-content>li>span{
	background-color: white;
	color: rgb(26, 139, 255);
}

.to-valign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#header{
	margin-bottom: 15px;
}

.form-submit-btn{
	background-color: rgb(1,247,54);
	margin-bottom: 15px;
	font-weight: 900;
	font-size: 22;
}

.form-submit-btn:hover{
	background-color: #00e622;
}

.nav-wrapper{
	background-color: rgb(0,185,230);
}

.timer{
	background-color: #b2ff59;
	height: 125px;
}

.calcInput{
	background-color: white;
	height: 100px;
}
#whiteFish{
	margin-top: 13px;
	height:25px;
}
.calc{
	background-color: gray;
	height: 350px;
}
.question-buttons{
	margin: 40px 20px 40px 150px;
}
#logo2{
	margin-left: 20px;
	margin-top: 2px;
}
.question-area{
	background-color: white;
	height:450px;
	margin: 0px 50px 0px 50px;
}
.calc-submit{
	background-color: #b2ff59;
	height:75px;
}